body {
    background-color:  #716b69; /* Cambia el color de fondo */
}
/*Container para la calculadora*/
.calculadora-container {
    text-align: center;
    margin: 0 auto; 
    margin-top: 100px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
/*agranda el input*/
.input {
    width: 200px;
    height: 40px;
    font-size: 24px; 
    text-align: right; 
}
.boton {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 50%; 
}

.boton-operator {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 50%; 
    background-color: yellow;
}

.igual {
    width: 110px;
}

/* Efecto hover */
.boton:hover {
    color: white;
    background-color: #1c0d02;
}
.boton-operator:hover{
    background-color: #f5b00f;
}

/* Efecto clic */
.boton:active {
    background-color: grey;
}
.boton-operator:active{
    background-color: #e8d249;
}
