body {
    font-family: Arial, sans-serif;
    padding-left: 40%;
    padding-right: 38%;
    PADDING-TOP: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Centrar verticalmente y apilar elementos */
}

#container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 5%;
    PADDING-RIGHT: 37PX;

}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

#hora {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #333;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form {
    text-align: center;
    width: 20%;
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc;
    /* Agregar borde al formulario */
    padding: 20px;
    /* Añadir espacio interno al formulario */
    border-radius: 10px;
    /* Añadir bordes redondeados al formulario */
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#container-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -21px
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    flex: 1;
    margin: 0;
  
}
#error{
    color: red;
    display: none;
} 
/* Agregar el efecto hover */
button:hover {
    background-color: #413f3f;
}
